@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&amp;display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

/* Author CSS */

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --grey: #D3CFCF;
  --primary: #195ec8;
  --text: #273044;
}
body {

  margin: 0;  color: #374a5e;
  font-size: 16px;
  font-family: "Roboto", sans-serif;

  font-weight: 400; }


/*******************************************NavBar Start Section********************************************************/
/* Navbar */
.category-dropdown {
  position: relative; }
.category-dropdown .category-menu.active {
  opacity: 1;
  visibility: visible;
  top: 100%; }
@media (min-width: 1920px) {
  .category-dropdown:hover .category-menu {
    opacity: 1;
    visibility: visible;
    top: 100%; } }
@media (min-width: 1600px) and (max-width: 1919.98px) {
  .category-dropdown:hover .category-menu {
    opacity: 1;
    visibility: visible;
    top: 100%; } }
@media (min-width: 1440px) and (max-width: 1599.98px) {
  .category-dropdown:hover .category-menu {
    opacity: 1;
    visibility: visible;
    top: 100%; } }
@media (min-width: 1200px) and (max-width: 1439.98px) {
  .category-dropdown:hover .category-menu {
    opacity: 1;
    visibility: visible;
    top: 100%; } }
.category-dropdown .menu-bar {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  line-height: 50px; }
.category-dropdown .menu-bar:hover {
  color: #50be46; }
.category-dropdown .menu-bar i {
  font-size: 20px; }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .category-dropdown .menu-bar i {
    padding: 12px 14px;
    background-color: #50be46;
    color: #ffffff;
    border-radius: 10px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .category-dropdown .menu-bar i {
    padding: 12px 14px;
    background-color: #50be46;
    color: #ffffff;
    border-radius: 10px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .category-dropdown .menu-bar i {
    padding: 12px 14px;
    background-color: #50be46;
    color: #ffffff;
    border-radius: 10px; } }
@media (max-width: 575.98px) {
  .category-dropdown .menu-bar i {
    padding: 12px 14px;
    background-color: #50be46;
    color: #ffffff;
    border-radius: 10px; } }
.category-dropdown .menu-bar span {
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 10px; }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .category-dropdown .menu-bar span {
    display: none; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .category-dropdown .menu-bar span {
    display: none; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .category-dropdown .menu-bar span {
    display: none; } }
@media (max-width: 575.98px) {
  .category-dropdown .menu-bar span {
    display: none; } }
.category-dropdown .category-menu {
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 0 5px 20px rgba(15, 22, 59, 0.1);
  box-shadow: 0 5px 20px rgba(15, 22, 59, 0.1); }
.category-dropdown .category-menu ul {
  background-color: #ffffff;
  width: 240px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
.category-dropdown .category-menu ul li + li {
  border-top: 1px solid #eaeaea; }
.category-dropdown .category-menu ul li a {
  color: #374a5e;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  padding: 10px 20px;
  width: 100%; }
.category-dropdown .category-menu ul li a:hover {
  color: #ffffff;
  background-color: #50be46; }
.category-dropdown .category-menu ul li.have-submenu {
  position: relative; }
.category-dropdown .category-menu ul li.have-submenu a {
  position: relative; }
.category-dropdown .category-menu ul li.have-submenu a::before {
  content: '\f107';
  font-family: fontAwesome;
  position: absolute;
  top: 10px;
  right: 20px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }
.category-dropdown .category-menu ul li.have-submenu:hover .sub-menu {
  opacity: 1;
  visibility: visible; }
@media (max-width: 575.98px) {
  .category-dropdown .category-menu ul li.have-submenu:hover .sub-menu {
    display: block; } }
.category-dropdown .category-menu ul li.have-submenu .sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
  visibility: hidden; }
@media (max-width: 575.98px) {
  .category-dropdown .category-menu ul li.have-submenu .sub-menu {
    position: inherit;
    left: 0;
    border: none;
    display: none;
    width: auto;
    padding: 0;
    margin-left: 15px; } }
.category-dropdown .category-menu ul li.have-submenu .sub-menu a::before {
  content: '';
  font-family: fontAwesome;
  position: absolute;
  top: 8px;
  right: 20px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.category-drawer {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  right: -300px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 100;
  overflow-y: scroll;
  padding: 40px 0 20px;
  -webkit-box-shadow: 0 5px 10px rgba(15, 22, 59, 0.1);
  box-shadow: 0 5px 10px rgba(15, 22, 59, 0.1); }
.category-drawer.active {
  right: 0; }
.category-drawer .drawer-crossbar {
  position: absolute;
  top: 0;
  left: 0; }
.category-drawer .drawer-crossbar i {
  color: #ffffff;
  background-color: #50be46;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer; }
.category-drawer .category-logo {
  margin-bottom: 30px; }
.category-drawer .category-logo img {
  width: auto;
  height: auto;
  margin: auto; }
.category-drawer ul li {
  margin-bottom: 10px; }
.category-drawer ul li a {
  color: #374a5e;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(183, 254, 175, 0.5); }
.category-drawer ul li a:hover {
  color: #ffffff;
  background-color: #50be46; }
.category-drawer ul li a:hover i {
  color: #50be46;
  background-color: rgba(255, 255, 255, 0.8); }
.category-drawer ul li a i {
  color: #ffffff;
  background-color: #50be46;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-right: 10px; }
.category-drawer ul li.have-submenu {
  position: relative; }
.category-drawer ul li.have-submenu .sub-menu {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
.category-drawer ul li.have-submenu .sub-menu li {
  margin-bottom: 0; }
.category-drawer ul li.have-submenu .sub-menu li a {
  padding-left: 60px;
  background-color: #ffffff; }
.category-drawer ul li.have-submenu .sub-menu li a:hover {
  color: #50be46; }

.menu-toggle-bar.active .bar-1 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px; }

.menu-toggle-bar.active .bar-2 {
  opacity: 0;
  visibility: hidden; }

.menu-toggle-bar.active .bar-3 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -8px; }

.menu-toggle-bar {
  margin-left: 30px;
  background-color: #50be46;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 40px;
  height: 40px;
  z-index: 9999; }
.menu-toggle-bar .custom-bars {
  padding-top: 5px;
  padding-left: 8px; }
.menu-toggle-bar .custom-bars .custom-bar {
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px 0;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative; }
.menu-toggle-bar .custom-bars .custom-bar .bar-1 {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }
.menu-toggle-bar .custom-bars .custom-bar .bar-3 {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.main-menu {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: rgba(15, 22, 59, 0.9);
  left: -300px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 100;
  overflow-y: scroll;
  padding: 30px 0; }
.main-menu.active {
  left: 0; }
.main-menu .menu-logo {
  margin-bottom: 20px; }
.main-menu .menu-logo img {
  width: auto;
  height: auto;
  margin-left: 25px; }
.main-menu ul li + li {
  border-top: 1px solid rgba(234, 234, 234, 0.1); }
.main-menu ul li a {
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  width: 100%;
  padding: 10px 30px; }
.main-menu ul li a:hover {
  background-color: #50be46; }
.main-menu ul li.have-submenu {
  position: relative; }
.main-menu ul li.have-submenu::before {
  content: '\f107';
  font-family: fontAwesome;
  color: #ffffff;
  position: absolute;
  top: 8px;
  right: 30px; }
.main-menu ul li.have-submenu:hover .sub-menu {
  display: block; }
.main-menu ul li.have-submenu .sub-menu {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: none; }
.main-menu ul li.have-submenu .sub-menu li a {
  padding-left: 50px; }

.main-menu-home-2 ul {
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
.main-menu-home-2 ul li {
  display: inline-block; }
.main-menu-home-2 ul li a {
  color: #374a5e;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  padding: 0 20px;
  line-height: 80px;
  width: 100%;
  position: relative; }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .main-menu-home-2 ul li a {
    padding: 0 16px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .main-menu-home-2 ul li a {
    line-height: 40px; } }
@media (max-width: 575.98px) {
  .main-menu-home-2 ul li a {
    line-height: 40px; } }
.main-menu-home-2 ul li a::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #50be46;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
.main-menu-home-2 ul li a:hover {
  color: #50be46; }
.main-menu-home-2 ul li a:hover::after {
  opacity: 1;
  visibility: visible; }
.main-menu-home-2 ul li.have-submenu {
  position: relative; }
.main-menu-home-2 ul li.have-submenu a {
  position: relative; }
.main-menu-home-2 ul li.have-submenu a::before {
  content: '\f107';
  font-family: fontAwesome;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px; }
.main-menu-home-2 ul li.have-submenu:hover .sub-menu {
  opacity: 1;
  visibility: visible; }
@media (max-width: 575.98px) {
  .main-menu-home-2 ul li.have-submenu:hover .sub-menu {
    display: block; } }
.main-menu-home-2 ul li.have-submenu .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
  visibility: hidden;
  background-color: #ffffff;
  width: 200px;
  z-index: 99;
  -webkit-box-shadow: 0 5px 20px rgba(15, 22, 59, 0.1);
  box-shadow: 0 5px 20px rgba(15, 22, 59, 0.1); }
@media (max-width: 575.98px) {
  .main-menu-home-2 ul li.have-submenu .sub-menu {
    position: inherit;
    left: 0;
    border: none;
    display: none;
    width: auto;
    padding: 0;
    margin-left: 15px; } }
.main-menu-home-2 ul li.have-submenu .sub-menu li {
  display: block; }
.main-menu-home-2 ul li.have-submenu .sub-menu li + li {
  border-top: 1px solid #eaeaea; }
.main-menu-home-2 ul li.have-submenu .sub-menu li a {
  line-height: 50px; }
.main-menu-home-2 ul li.have-submenu .sub-menu li a::before {
  content: ''; }
.main-menu-home-2 ul li.have-submenu .sub-menu li a::after {
  opacity: 0; }
.main-menu-home-2 ul li.have-submenu .sub-menu li a:hover {
  color: #ffffff;
  background-color: #50be46; }





/*******************************************NavBar End Section*********************************************************/

/*******************************************Header Start Section*********************************************************/
.header-section {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 9;

}

.header-info {
  background-color: var(--white);
  padding: 12px 0;
  border-bottom: 1px solid var(--grey);
  position: relative;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header-info .menu-toggle-bar {
    position: absolute;
    background-color: var(--red);

    top: 561px;
    right: 0; }
}

