<header>
  <a href="#" class="logo">
    logo
  </a>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</header>
<!-- Hero Section Starts -->
<section class="hero-section">

  <div class="hero-shape">

    <div class="div-chadi-1">
      <h1 style="">Start Investing In You</h1>
      <span >With over 1200 courses in 18 subjects, you're guaranteed to find something that's right for you.</span>
      <div class="hero-button">
        <!--<a href="course.html" class="template-button">start course</a>-->
        <br>
        <br>
        <a class="btn" href="#" data-title="Join For Free"></a>
      </div>
    </div>



    <img src="../../../assets/images/base.png" alt="shape" class="hero-round-shape-4" >
    <img src="../../../assets/images/student.png" alt="shape" class="hero-round-shape-1 item-bounce">
    <img src="../../../assets/images/book2.png" alt="shape" class="hero-round-shape-2 item-bounce">
    <img src="../../../assets/images/magnifier.png" alt="shape" class="hero-round-shape-3 item-bounce">
  </div>


</section>
